.AsignaturasPuntos{
    height: 400px;
    line-height: 3.5;
    margin-left: 10%;
}

ul li{
    list-style:none;
}


ul li a{
    color: black;
    text-decoration: none;
}

.AsignaturasPuntos li::before {
    content: "⏀"; /* Insert content that looks like bullets */
    padding-right: 10px;
    color: black; /* Or a color you prefer */
  }